DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost:5432
DB_NAME=henrycollege

AUTH0_DOMAIN=https://dev-js4nbs9b.us.auth0.com
AUTH0_CLIENT_ID=vi0ETRLkQax6keka0XU7tlu1jGbuhmua
AUTH0_CLIENT_SECRET=NTAWvqs_UTgXVL9anTTP5qHFHQeicTlsGHqvrrpO5w1X1Em_nBylFcmitDFY2RIL
AUTH0_AUDIENCE=http://localhost:3001/

# Renombrar este archivo a ".env" y cambia la contraseña en DB_PASSWORD por tu contraseña de postgres
# Acuerdate de crear en PG admin o desde psql una base de datos llamada HenryCollege (una sola vez)