DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost:5432

# Renombrar este archivo a ".env" y cambia la contraseña en DB_PASSWORD por tu contraseña de postgres
# Acuerdate de crear en PG admin o desde psql una base de datos llamada HenryCollege (una sola vez)