DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost:5432
DB_NAME=henrycollege

AUTH0_DOMAIN=https://dev-js4nbs9b.us.auth0.com
AUTH0_CLIENT_ID=vi0ETRLkQax6keka0XU7tlu1jGbuhmua
AUTH0_CLIENT_SECRET=NTAWvqs_UTgXVL9anTTP5qHFHQeicTlsGHqvrrpO5w1X1Em_nBylFcmitDFY2RIL
AUTH0_AUDIENCE=http://localhost:3001/

#STRIPECOSAS 
STRIPE_SECRET = sk_test_51MpKQRGvADpegQHLqoF8yq4jBsTrJh6n3LSLDLawAACmUqwLsvfEaIwXpOICmrus2mT4VGOugSbMZkuCnDe4YsxI00guLKRMie
STRIPE_KEY= pk_test_51MpKQRGvADpegQHL4bV2Ijkvboc09SCh2MagdW0jx9mRLnDzqVWc5cwEDx3VVC92LZO6fSXt1vrsSl5nPguCjBoO002uwS3W5w





# Renombrar este archivo a ".env" y cambia la contraseña en DB_PASSWORD por tu contraseña de postgres
# Acuerdate de crear en PG admin o desde psql una base de datos llamada HenryCollege (una sola vez)